# Project name --> üè† House Price Estimator!

##  Building Linear Rregression model Using all  "Advanced Regression Techniques"

### Datastes    = Indian Real Estate Dataset  from (Kaggel)

### importing requred libraries

In [ ]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso , Ridge  # two models
from sklearn.preprocessing import PolynomialFeatures  # preprocessing 
from sklearn.metrics import mean_absolute_error, r2_score

### Data visualization

In [48]:
# Loading datasets
file_path = r"C:\Users\Ravichandran\OneDrive\Desktop\cleaned_crime_dataset.csv123"
house_data = pd.read_csv(file_path)
house_data = house_data.copy()

C:\Users\Ravichandran\AppData\Local\Temp\ipykernel_19000\3409123842.py:3: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  house_data = pd.read_csv(file_path)

In [49]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27798 entries, 0 to 27797
Data columns (total 61 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PROP_ID                     27798 non-null  object
 1   PREFERENCE                  27798 non-null  object
 2   DESCRIPTION                 27798 non-null  object
 3   PROPERTY_TYPE               27798 non-null  object
 4   CITY                        27798 non-null  object
 5   TRANSACT_TYPE               21836 non-null  float64
 6   OWNTYPE                     27798 non-null  int64
 7   BEDROOM_NUM                 24437 non-null  float64
 8   PRICE_PER_UNIT_AREA         27798 non-null  float64
 9   FURNISH                     27798 non-null  int64
 10  FACING                      27798 non-null  int64
 11  AGE                         27798 non-null  int64
 12  TOTAL_FLOOR                 27153 non-null  float64
 13  FEATURES                    27798 non-null  object
 14  PROP_NAME                   24349 non-null  object
 15  PRICE_SQFT                  27798 non-null  float64
 16  MAP_DETAILS                 27798 non-null  object
 17  AMENITIES                   19865 non-null  object
 18  AREA                        27798 non-null  object
 19  PRICE                       27798 non-null  object
 20  PROP_HEADING                27798 non-null  object
 21  SECONDARY_TAGS              27798 non-null  object
 22  TOTAL_LANDMARK_COUNT        25723 non-null  float64
 23  FORMATTED_LANDMARK_DETAILS  25723 non-null  object
 24  SOCIETY_NAME                24349 non-null  object
 25  BUILDING_NAME               24336 non-null  object
 26  location                    27798 non-null  object
 27  BALCONY_NUM                 18004 non-null  float64
 28  FLOOR_NUM                   22177 non-null  object
 29  CARPET_SQFT                 2489 non-null   float64
 30  SUPERBUILTUP_SQFT           5400 non-null   float64
 31  BUILTUP_SQFT                1680 non-null   float64
 32  SUPER_AREA                  820 non-null    float64
 33  SUPERAREA_UNIT              820 non-null    object
 34  SUPER_SQFT                  833 non-null    float64
 35  SPID                        19001 non-null  float64
 36  REGISTER_DATE               19001 non-null  object
 37  POSTING_DATE                18348 non-null  float64
 38  UPDATE_DATE                 19001 non-null  float64
 39  CLASS                       19001 non-null  object
 40  RES_COM                     19001 non-null  object
 41  PROPERTY_NUMBER             19001 non-null  float64
 42  MIN_PRICE                   19001 non-null  float64
 43  MAX_PRICE                   19001 non-null  float64
 44  PROJ_ID                     19001 non-null  float64
 45  BUILDING_ID                 19001 non-null  float64
 46  VERIFIED                    19001 non-null  object
 47  MIN_AREA_SQFT               19001 non-null  float64
 48  MAX_AREA_SQFT               19001 non-null  float64
 49  ALT_TAG                     16648 non-null  object
 50  PRODUCT_TYPE                19001 non-null  object
 51  TOP_USPS                    8790 non-null   object
 52  EXPIRY_DATE                 19001 non-null  object
 53  PROPERTY_TYPE__U            19001 non-null  float64
 54  SECONDARY_AREA              19001 non-null  object
 55  VALUE_LABEL                 14794 non-null  object
 56  CLASS_HEADING               19001 non-null  object
 57  CLASS_LABEL                 19001 non-null  object
 58  REGISTER_DATE__U            19001 non-null  object
 59  REGISTERED_DAYS             19001 non-null  object
 60  PRIMARY_TAGS                19001 non-null  object
dtypes: float64(23), int64(4), object(34)
memory usage: 12.9+ MB

In [50]:
house_data.describe()

,TRANSACT_TYPE,OWNTYPE,BEDROOM_NUM,PRICE_PER_UNIT_AREA,FURNISH,FACING,AGE,TOTAL_FLOOR,PRICE_SQFT,TOTAL_LANDMARK_COUNT,...,POSTING_DATE,UPDATE_DATE,PROPERTY_NUMBER,MIN_PRICE,MAX_PRICE,PROJ_ID,BUILDING_ID,MIN_AREA_SQFT,MAX_AREA_SQFT,PROPERTY_TYPE__U
count,21836.000000,27798.000000,24437.000000,2.779800e+04,27798.000000,27798.000000,27798.000000,27153.000000,2.779800e+04,25723.000000,...,1.834800e+04,1.900100e+04,19001.000000,1.900100e+04,1.900100e+04,19001.000000,1.900100e+04,19001.000000,19001.000000,19001.000000
mean,1.299597,0.871969,2.623767,1.451749e+05,1.486366,2.592129,3.100367,15.003756,1.451552e+05,26.824321,...,1.688382e+12,1.690693e+12,1.560234,1.784551e+07,1.890868e+07,131126.724699,3.452197e+05,362.225194,368.556610,2.279301
std,0.458092,0.607757,1.695238,5.129011e+06,1.433947,2.373342,2.192568,14.261159,5.129010e+06,18.173518,...,5.594060e+09,2.462568e+09,2.128495,4.939898e+07,5.106954e+07,160291.395905,4.313705e+05,7932.763638,7932.886861,8.343402
min,1.000000,0.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000,...,1.652809e+12,1.665146e+12,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,1.393545,1.393545,1.000000
25%,1.000000,1.000000,2.000000,2.479000e+03,0.000000,0.000000,1.000000,4.000000,2.479000e+03,11.000000,...,1.688026e+12,1.689766e+12,1.000000,1.175854e+06,1.199888e+06,0.000000,0.000000e+00,68.376608,71.999825,1.000000
50%,1.000000,1.000000,3.000000,6.961000e+03,2.000000,3.000000,3.000000,10.000000,6.960000e+03,15.000000,...,1.690138e+12,1.691224e+12,1.000000,8.150001e+06,8.500000e+06,13456.000000,5.553200e+04,118.730034,120.773900,1.000000
75%,2.000000,1.000000,3.000000,1.704225e+04,2.000000,4.000000,5.000000,22.000000,1.704000e+04,49.000000,...,1.691568e+12,1.692347e+12,1.000000,1.900000e+07,2.000000e+07,300381.000000,7.882260e+05,167.225400,170.569908,2.000000
max,2.000000,4.000000,77.000000,6.000000e+08,4.000000,8.000000,6.000000,117.000000,6.000000e+08,50.000000,...,1.693026e+12,1.693027e+12,41.000000,2.147484e+09,2.147484e+09,413891.000000,1.125563e+06,728433.842400,728433.842400,90.000000

In [51]:
house_data.shape

(27798, 61)

In [52]:
house_data.head()

,PROP_ID,PREFERENCE,DESCRIPTION,PROPERTY_TYPE,CITY,TRANSACT_TYPE,OWNTYPE,BEDROOM_NUM,PRICE_PER_UNIT_AREA,FURNISH,...,TOP_USPS,EXPIRY_DATE,PROPERTY_TYPE__U,SECONDARY_AREA,VALUE_LABEL,CLASS_HEADING,CLASS_LABEL,REGISTER_DATE__U,REGISTERED_DAYS,PRIMARY_TAGS
0,Y71306776,S,Book your 2 BHK flat in Srijan Star Swapno Pur...,Residential Apartment,Kolkata South,2.0,1,2.0,3662.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,B70113976,S,Make Natural Quest your next home. This projec...,Residential Apartment,Kolkata South,2.0,1,3.0,10500.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,O70374510,S,"Book your 3 BHK apartment in Garia, Kolkata So...",Residential Apartment,Kolkata South,2.0,1,3.0,8900.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Q69170182,S,"Dev bhumi in joka, kolkata south by ocean land...",Residential Land,Kolkata South,2.0,1,NaN,208.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F69917588,S,Let your dream of owning a flat come true with...,Residential Apartment,Kolkata South,2.0,1,3.0,5215.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Droping null values and unwnanted columns

In [53]:
house_data.isnull().sum().to_dict()

{'PROP_ID': 0,
 'PREFERENCE': 0,
 'DESCRIPTION': 0,
 'PROPERTY_TYPE': 0,
 'CITY': 0,
 'TRANSACT_TYPE': 5962,
 'OWNTYPE': 0,
 'BEDROOM_NUM': 3361,
 'PRICE_PER_UNIT_AREA': 0,
 'FURNISH': 0,
 'FACING': 0,
 'AGE': 0,
 'TOTAL_FLOOR': 645,
 'FEATURES': 0,
 'PROP_NAME': 3449,
 'PRICE_SQFT': 0,
 'MAP_DETAILS': 0,
 'AMENITIES': 7933,
 'AREA': 0,
 'PRICE': 0,
 'PROP_HEADING': 0,
 'SECONDARY_TAGS': 0,
 'TOTAL_LANDMARK_COUNT': 2075,
 'FORMATTED_LANDMARK_DETAILS': 2075,
 'SOCIETY_NAME': 3449,
 'BUILDING_NAME': 3462,
 'location': 0,
 'BALCONY_NUM': 9794,
 'FLOOR_NUM': 5621,
 'CARPET_SQFT': 25309,
 'SUPERBUILTUP_SQFT': 22398,
 'BUILTUP_SQFT': 26118,
 'SUPER_AREA': 26978,
 'SUPERAREA_UNIT': 26978,
 'SUPER_SQFT': 26965,
 'SPID': 8797,
 'REGISTER_DATE': 8797,
 'POSTING_DATE': 9450,
 'UPDATE_DATE': 8797,
 'CLASS': 8797,
 'RES_COM': 8797,
 'PROPERTY_NUMBER': 8797,
 'MIN_PRICE': 8797,
 'MAX_PRICE': 8797,
 'PROJ_ID': 8797,
 'BUILDING_ID': 8797,
 'VERIFIED': 8797,
 'MIN_AREA_SQFT': 8797,
 'MAX_AREA_SQFT': 8797,
 'ALT_TAG': 11150,
 'PRODUCT_TYPE': 8797,
 'TOP_USPS': 19008,
 'EXPIRY_DATE': 8797,
 'PROPERTY_TYPE__U': 8797,
 'SECONDARY_AREA': 8797,
 'VALUE_LABEL': 13004,
 'CLASS_HEADING': 8797,
 'CLASS_LABEL': 8797,
 'REGISTER_DATE__U': 8797,
 'REGISTERED_DAYS': 8797,
 'PRIMARY_TAGS': 8797}

In [ ]:
# droping existing columns and Similar columns
 
house_data.drop(['PROP_ID','PREFERENCE','DESCRIPTION','TRANSACT_TYPE','TRANSACT_TYPE','PRICE_PER_UNIT_AREA','FEATURES',
                 'PROP_NAME','AMENITIES','PROP_HEADING','SECONDARY_TAGS','FORMATTED_LANDMARK_DETAILS','BUILDING_NAME','CARPET_SQFT',
                 'SUPERBUILTUP_SQFT','BUILTUP_SQFT','SUPER_AREA','SPID','REGISTER_DATE', 'POSTING_DATE', 'UPDATE_DATE','RES_COM',
                 'PROPERTY_NUMBER','PROJ_ID','BUILDING_ID','VERIFIED', 'MIN_AREA_SQFT','MAX_AREA_SQFT','ALT_TAG', 'PRODUCT_TYPE', 'TOP_USPS', 'EXPIRY_DATE',
                 'PROPERTY_TYPE__U', 'SECONDARY_AREA','CLASS', 'VALUE_LABEL', 'SUPERAREA_UNIT','CLASS_HEADING','CLASS_LABEL', 'REGISTER_DATE__U', 'REGISTERED_DAYS', 
                 'PRIMARY_TAGS','SUPER_SQFT' ],axis=1, inplace=True)

In [55]:
house_data

,PROPERTY_TYPE,CITY,OWNTYPE,BEDROOM_NUM,FURNISH,FACING,AGE,TOTAL_FLOOR,PRICE_SQFT,MAP_DETAILS,AREA,PRICE,TOTAL_LANDMARK_COUNT,SOCIETY_NAME,location,BALCONY_NUM,FLOOR_NUM,MIN_PRICE,MAX_PRICE
0,Residential Apartment,Kolkata South,1,2.0,0,0,5,3.0,3662.0,"{'LATITUDE': '22.364447', 'LONGITUDE': '88.274...",518-623 sq.ft.,19.1 L Onwards,2.0,Srijan Star Swapno Puron,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",NaN,1,NaN,NaN
1,Residential Apartment,Kolkata South,1,3.0,0,0,5,11.0,10500.0,"{'LATITUDE': '22.518795', 'LONGITUDE': '88.388...",1110-1121 sq.ft.,1.17 - 1.18 Cr,9.0,Natural Quest,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",NaN,1,NaN,NaN
2,Residential Apartment,Kolkata South,1,3.0,0,0,5,20.0,8900.0,"{'LATITUDE': '22.5137646', 'LONGITUDE': '88.36...",1376-1516 sq.ft.,1.22 - 1.35 Cr,6.0,Ganguly 4Sight Eminence,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",NaN,1,NaN,NaN
3,Residential Land,Kolkata South,1,NaN,0,0,0,0.0,208.0,"{'LATITUDE': '22.45383', 'LONGITUDE': '88.2495...",720-2880 sq.ft.,1.5 - 5.99 L,13.0,Dev Bhumi,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",NaN,NaN,NaN,NaN
4,Residential Apartment,Kolkata South,1,3.0,0,0,5,19.0,5215.0,"{'LATITUDE': '22.44213', 'LONGITUDE': '88.29551'}",1130-1460 sq.ft.,60 - 75 L,11.0,DTC Sojon,"{'CITY': '27', 'CITY_NAME': 'Kolkata South', '...",NaN,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27793,Residential Land,Hyderabad,1,NaN,0,3,0,NaN,19000.0,"{'LATITUDE': '17.4639176', 'LONGITUDE': '78.62...",1503 sq.ft.,31.73 L,10.0,NaN,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",NaN,NaN,3173000.0,3173000.0
27794,Residential Land,Hyderabad,1,NaN,0,3,0,NaN,11000.0,"{'LATITUDE': '16.985875', 'LONGITUDE': '78.499...",2700 sq.ft.,33 L,NaN,NaN,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",NaN,NaN,3300000.0,3300000.0
27795,Independent/Builder Floor,Secunderabad,0,2.0,4,3,1,3.0,15.0,"{'LATITUDE': '17.4653875', 'LONGITUDE': '78.47...",1000 sq.ft.,"15,000",50.0,NaN,"{'CITY': '268', 'CITY_NAME': 'Secunderabad', '...",1.0,1,15000.0,15000.0
27796,Residential Apartment,Hyderabad,1,3.0,2,3,5,5.0,6400.0,"{'LATITUDE': '17.47078', 'LONGITUDE': '78.30668'}",1600 sq.ft.,1.02 Cr,50.0,Greenwoods Project,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",2.0,4,10240000.0,10240000.0
27797,Residential Apartment,Hyderabad,1,2.0,2,3,6,5.0,5328.0,"{'LATITUDE': '17.4011618', 'LONGITUDE': '78.37...",1220 sq.ft.,65 L,50.0,Pavan Heights,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",2.0,3,6500500.0,6500500.0

In [56]:
house_data.columns

Index(['PROPERTY_TYPE', 'CITY', 'OWNTYPE', 'BEDROOM_NUM', 'FURNISH', 'FACING',
       'AGE', 'TOTAL_FLOOR', 'PRICE_SQFT', 'MAP_DETAILS', 'AREA', 'PRICE',
       'TOTAL_LANDMARK_COUNT', 'SOCIETY_NAME', 'location', 'BALCONY_NUM',
       'FLOOR_NUM', 'MIN_PRICE', 'MAX_PRICE'],
      dtype='object')

In [57]:
house_data.isnull().sum()

PROPERTY_TYPE              0
CITY                       0
OWNTYPE                    0
BEDROOM_NUM             3361
FURNISH                    0
FACING                     0
AGE                        0
TOTAL_FLOOR              645
PRICE_SQFT                 0
MAP_DETAILS                0
AREA                       0
PRICE                      0
TOTAL_LANDMARK_COUNT    2075
SOCIETY_NAME            3449
location                   0
BALCONY_NUM             9794
FLOOR_NUM               5621
MIN_PRICE               8797
MAX_PRICE               8797
dtype: int64

In [58]:
house_data.dropna(subset=['BALCONY_NUM','FLOOR_NUM', 'MIN_PRICE','MAX_PRICE','SOCIETY_NAME','TOTAL_LANDMARK_COUNT','PRICE','PRICE_SQFT'], axis=0, inplace=True)

In [59]:
house_data

,PROPERTY_TYPE,CITY,OWNTYPE,BEDROOM_NUM,FURNISH,FACING,AGE,TOTAL_FLOOR,PRICE_SQFT,MAP_DETAILS,AREA,PRICE,TOTAL_LANDMARK_COUNT,SOCIETY_NAME,location,BALCONY_NUM,FLOOR_NUM,MIN_PRICE,MAX_PRICE
8799,Residential Apartment,Thane,0,1.0,1,3,3,7.0,51.0,"{'LATITUDE': '19.22071', 'LONGITUDE': '72.9867...",390 sq.ft.,"20,000/Bedroom",49.0,Highway Darshan,"{'CITY': '219', 'CITY_NAME': 'Thane', 'BUILDIN...",1.0,1.0,20000.0,20000.0
8800,Residential Apartment,Thane,0,4.0,1,0,6,17.0,6.0,"{'LATITUDE': '19.267984', 'LONGITUDE': '72.970...",1250 sq.ft.,"8,000/Bed",39.0,"Terraform Petunia, G Corp","{'CITY': '219', 'CITY_NAME': 'Thane', 'BUILDIN...",2.0,11.0,8000.0,8000.0
8801,Residential Apartment,Thane,0,4.0,1,0,6,30.0,6.0,"{'LATITUDE': '19.25756', 'LONGITUDE': '72.98296'}",1250 sq.ft.,"8,000/Bed",50.0,nul,"{'CITY': '219', 'CITY_NAME': 'Thane', 'BUILDIN...",2.0,25.0,8000.0,8000.0
8803,Residential Apartment,Navi Mumbai,0,2.0,1,5,2,3.0,7.0,"{'LATITUDE': '19.029645', 'LONGITUDE': '73.020...",850 sq.ft.,"6,000/Bed",50.0,Vintage Paying PG,"{'CITY': '15', 'CITY_NAME': 'Navi Mumbai', 'BU...",2.0,2.0,6000.0,6000.0
8805,Residential Apartment,Mumbai Beyond Thane,0,3.0,1,0,1,22.0,3.0,"{'LATITUDE': '19.268855', 'LONGITUDE': '73.045...",1600 sq.ft.,"5,000/Bed",14.0,Bhiwandi Tata mantra,"{'CITY': '274', 'CITY_NAME': 'Mumbai Beyond Th...",3.0,13.0,5000.0,5000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27753,Residential Apartment,Hyderabad,0,2.0,4,3,1,5.0,11.0,"{'LATITUDE': '17.427164', 'LONGITUDE': '78.443...",1251 sq.ft.,"14,500",48.0,somajiguda,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",1.0,1,14500.0,14500.0
27754,Studio Apartment,Hyderabad,0,1.0,4,3,1,5.0,8.0,"{'LATITUDE': '17.424037', 'LONGITUDE': '78.450...",650 sq.ft.,"5,500",49.0,Shanta Sriram Panjagutta,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",1.0,5,5500.0,5500.0
27755,Residential Apartment,Hyderabad,0,1.0,4,3,1,5.0,10.0,"{'LATITUDE': '17.427164', 'LONGITUDE': '78.443...",780 sq.ft.,"8,000",48.0,kgn,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",1.0,3,8000.0,8000.0
27796,Residential Apartment,Hyderabad,1,3.0,2,3,5,5.0,6400.0,"{'LATITUDE': '17.47078', 'LONGITUDE': '78.30668'}",1600 sq.ft.,1.02 Cr,50.0,Greenwoods Project,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",2.0,4,10240000.0,10240000.0
27797,Residential Apartment,Hyderabad,1,2.0,2,3,6,5.0,5328.0,"{'LATITUDE': '17.4011618', 'LONGITUDE': '78.37...",1220 sq.ft.,65 L,50.0,Pavan Heights,"{'CITY': '269', 'CITY_NAME': 'Hyderabad', 'BUI...",2.0,3,6500500.0,6500500.0

In [62]:
house_data.isnull().sum()

PROPERTY_TYPE           0
CITY                    0
OWNTYPE                 0
BEDROOM_NUM             0
FURNISH                 0
FACING                  0
AGE                     0
TOTAL_FLOOR             0
PRICE_SQFT              0
MAP_DETAILS             0
AREA                    0
PRICE                   0
TOTAL_LANDMARK_COUNT    0
SOCIETY_NAME            0
location                0
BALCONY_NUM             0
FLOOR_NUM               0
MIN_PRICE               0
MAX_PRICE               0
dtype: int64

In [63]:
house_data.shape

(9112, 19)